.navbar {
	width: 70%;
	margin: 20px auto;
	// border: 2px solid;
	background-color: rgba(191,169,142,0.9);
	box-shadow: 5px 5px 5px grey;
	text-decoration: none;

	overflow: hidden;
}

.left-side ul li{
	text-decoration: none;
	display: block;
	float: left;
}

.left-side ul li a{
	float: left;
	border: 2px solid;
	margin: 22px;
}

.right-side ul li{
	border: 2px solid;
	text-decoration: none;
	display: block;
	float: right;
}

.right-side ul li a{
	border: 2px solid;
	float: right;
	margin: 22px;
}
