<h3 id='new-header'>Create a new post</h3>

<div id='post-container'>

<form method='post' action='/create_blog'>
	<div id='title-box'>
		<div id='new-post-title'>
		Title
		</div>
	<input type='text' name='title' id='new-title' autocomplete="off">
	<div id='post-title'>
	Content
	</div>
	<div id='content-box'>
	<textarea type='text' name='content' id='new-content-box' autocomplete="off"></textarea>
	</div>
	</div>
	<input type='submit' id='new-submit'>
</form>
</div>



