

<div id='post-container'>
<div id='title-box'>
<div id='post-title'><%= @blog.title%></a>
		</div></div>
<hr id='line-break'>
<div id='content-box'>
<div id='post-content'><%= @blog.content %></div></div>
</div>





<hr id='line-break'>



<div id='update-container'>
	<div><a href='/blogs/<%=@blog.id %>/edit' id='update-button' >Update this blog</a></div>
		

	<form method='post' action='/destroy/<%= @blog.id %>'>
		<input type='submit' value='Delete this post' id='delete-button'>
	</form>
</div>




