#edit-box {
	width: 95%;
	margin: 50px auto;
	// border: 2px solid;
	text-decoration: none;
}

#edit-title {
	width: 50%;
	margin: 5px auto;
	// border: 1px solid;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}

#edit-box {
	width: 85%;
	margin: 0px auto;
	// border: 2px solid;
	text-decoration: none;
}

#edit-head {
	width: 50%;
	margin: 60px auto;
	// border: 1px solid;
	font-size: 3.5em;
	text-align: center;
	text-decoration: none;
}


#edit-field-box {
	width: 70%;
	margin: 10px auto;
	// border: 1px solid;
	text-align: center;
}

#edit-title-box {
	margin: 25px auto;
	width: 80%;
	font-size: 2.5em;
	height: 50px;
	background-color: #F6F3F1;
	// border: 2px solid;
	text-align: center;
	display: block;
}

#edit-content {
	width: 50%;
	margin: 5px auto;
	// border: 1px solid;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}

#edit-content-box {
	margin: 5px auto;
	font-size: 1.5em;
	width: 90%;
	height: 260px;
	background-color: #F6F3F1;
	// border: 2px solid;
	text-align: center;
	display: block;
}

#edit-submit {
	margin: 0 auto;
	width: 20%;
	height: 30px;
	background-color: #F6F3F1;
	// border: 2px solid;
	text-align: center;
	display: block;
	background-color: rgba(77,136,255,0.9);
}


