#signup-box {
	width: 65%;
	margin: 30px auto;
	// border: 2px solid;
	text-decoration: none;
}

#signup-head {
	width: 50%;
	margin: 10px auto;
	// border: 1px solid;
	font-size: 4em;
	text-align: center;
	text-decoration: none;
}

#login-box {
	width: 65%;
	margin: 0px auto;
	border: 2px solid;
	text-decoration: none;
}

#login-head {
	width: 50%;
	margin: 10px auto;
	// border: 1px solid;
	font-size: 3.5em;
	text-align: center;
	text-decoration: none;
}

#login-sub {
	width: 50%;
	margin: 10px auto;
	// border: 1px solid;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}


#login-field-box {
	width: 50%;
	margin: 10px auto;
	// border: 1px solid;
	text-align: center;
}

#login-username {
	margin: 5px auto;
	width: 50%;
	height: 30px;
	background-color: #F6F3F1;
	// border: 2px solid;
	text-align: center;
	display: block;
}

#login-password {
	margin: 5px auto;
	width: 50%;
	height: 30px;
	background-color: #F6F3F1;
	// border: 2px solid;
	text-align: center;
	display: block;
}

#login-submit {
	margin: 0 auto;
	width: 20%;
	height: 30px;
	background-color: #F6F3F1;
	border: 1px solid;
	text-align: center;
	display: block;
}


