#update-container {
	// border: 2px solid;
	margin: 20px auto;
	width: 30%;
	height: 30px;
}

#update-button {
	width: 40%;
	height: 30px;
	font-size: 1.2em;
	text-decoration: none;
	margin: 10px auto;
	border: 1px solid;
	display: block;
	background-color: #EAE2DE;
}

#delete-button {
	width: 40%;
	height: 30px;
	font-size: 1.2em;
	margin: 10px auto;
	border: 1px solid;
	display: block;
	background-color: #EAE2DE;
}